# Dependências
/node_modules
/.pnp
.pnp.js

# Arquivos de build
/dist
/build

# Arquivos de cache
.cache/
.npm/
.eslintcache
.stylelintcache

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Arquivos de ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Arquivos do editor
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos de teste
/coverage
/cypress/videos/
/cypress/screenshots/

# Arquivos temporários
*.tmp
*.bak
*.swp 